body {
    padding: 0;
    margin: 0;
}

.squares_table {
    position: relative;
    display: inline-block;
    padding: 52px;
    font-family: sans-serif;
}

.squares_table table {
    border: 1px solid #48AAE7;
    border-spacing: 2px;
}

.squares_table td {
    width: 50px;
    height: 50px;
    background: #48AAE7;
}

.squares_table .button {
    position: absolute;
    display: block;
    line-height: 50px;
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 20px;
    color: white;
    outline: none;
    border: 0;

    transition-property: opacity;
    transition-duration: 0.3s;
    transition-timing-function: linear;
}

.button:hover {
    cursor: pointer;
    opacity: 0.7;
}

.squares_table .plus_row, .plus_column {
    background: #F3A602;
}

.squares_table .minus_row, .minus_column {
    background: #AC0300;
    visibility: hidden;
}

.squares_table .plus_row {
    left: 56px;
    bottom: 0%;
}

.squares_table .plus_column {
    right: 0%;
    top: 56px;
}